*{
    margin:0;
    padding:0;
    box-sizing:border-box;
    font-family:"Poppins",sans-serif;
}

body{
    background:#f5f9ff;
    color:#222;
}

/* Navbar */

.navbar{

    width:100%;

    display:flex;

    justify-content:space-between;

    align-items:center;

    padding:20px 8%;

    background:white;

    position:sticky;

    top:0;

    box-shadow:0 5px 20px rgba(0,0,0,.08);

    z-index:1000;

}

.logo{

    font-size:28px;

    font-weight:700;

    color:#2563eb;

    text-decoration:none;

}

.logo i{

    margin-right:8px;

}

.nav-links{

    display:flex;

    list-style:none;

    gap:35px;

}

.nav-links a{

    text-decoration:none;

    color:#333;

    font-weight:500;

    transition:.3s;

}

.nav-links a:hover{

    color:#2563eb;

}

.active{

    color:#2563eb !important;

}

#theme-btn{

    width:45px;

    height:45px;

    border:none;

    border-radius:50%;

    cursor:pointer;

    background:#2563eb;

    color:white;

    font-size:18px;

    transition:.3s;

}

#theme-btn:hover{

    transform:rotate(180deg);

}
